<p><%= link_to "← Retourner à les tâches administratives", admin_path %></p>
<h1>Selectionnez une classe</h1>
<ul>
<%= render @grades %>
<li><%= link_to "Voir toutes les visites récentes", class_records_path %></li>
</ul>
<p>-------------------</p>
<p><%= link_to "Ajouter une nouvelle classe", new_grade_path %> </p> 
