form .input { width: 300px; }
form .close { line-height: 1;}

.multi-inputs { background-color: whitesmoke; padding-top: 15px; padding-bottom:3px; margin-bottom: 15px; }

.header { padding: 5px; margin: 10px; }
.footer { padding: 20px; margin: 20px; }
.spacer { padding: 15px; margin: 10px; }

.container { width: 600px; }

.center-text { text-align: center;}
.full-width { width: 100%; }

.search-button-area { width: 87px; margin: auto; padding: 30px; }

.ui-autocomplete { max-height: 500px; overflow: hidden; }

#edit-bar { padding-right: 10px; }
