form .input { width: 300px; }
form .close { line-height: 1;}

.multi-inputs { background-color: whitesmoke; padding-top: 15px; padding-bottom:3px; margin-bottom: 15px; }

.header { padding: 20px; margin: 20px; }

.container { width: 600px; }

.center-text { text-align: center;}
