<h1>Tâches administratives</h1>
<ul>
  <li><%= link_to "Ajouter un livre", new_book_path %></li>
  <li><%= link_to "Liste des livres", books_path %></li>
  <li><%= link_to "Telecharger la liste des livres", "/books.csv" %></li>
  <li><%= link_to "Liste de livres retirés", "#" %></li>
</ul>
