<h1>Admin tasks</h1>
<ul>
  <li><%= link_to "Add book", new_book_path %></li>
  <li><%= link_to "List of current books", books_path %> (link to edit)</li>
  <li><%= link_to "Add author", new_author_path %></li>
  <li><%= link_to "Download Books", "/books.csv" %></li>
</ul>
