<div class="spacer"></div>
<div class="span10">
  <h1 class="center-text">Cherchez un livre!</h1>
  <input id="search" class="span10" data-source='<%= @test %>' value="<%= @search_query %>"/>
  <div class="search-button-area">
  <div id="search-button" class="btn primary">chercher</div>
</div>
<% if ! @books.nil? %>
  <table class="zebra-striped">
    <thead><tr><th>#</th><th>Titre</th><th>Sujet</th></thead>
      <tbody>
        <% if @books.empty? %>
          <tr><td></td><td>There were no results.</td><td></td></tr>
        <% else %>
          <%= render @books, :locals => { :search_query => @search_query } %>
        <% end %>

      </tbody>
    </table>
  <% end %>
</div>
