
<h1>Statistiques General</h1>
  <table class="zebra-striped">
      <tbody>
            <tr><td>Nombre de livres:</td><td><%= @book_count %></td></tr>
            <tr><td>Nombre totale de livres retirés:</td><td><%= @checkout_count %></td></tr>
            <tr><td>Livres populaires:</td><td>
                <ol>
                  <% @popular.each do |b| %>
                    <li><%= link_to b.title, book_path(b) %></li>
                  <% end %>
                </ol>
              </td></tr>
      </tbody>
    </table>


