<h1>Audit: <%= @audit.date_completed %></h1>
<p><%= @audit.notes %></p>

<h2>Books present</h2>
<table class="zebra-striped sorted" >
  <thead><tr><th>Collection</th><th>Titre</th><th>Sujet</th></thead>
    <tbody>
      <%= render @audit.books %>
    </tbody>
  </table>
  
<h2>Books Missing</h2>
<table class="zebra-striped sorted" >
  <thead><tr><th>Collection</th><th>Titre</th><th>Sujet</th></thead>
    <tbody>
      <%= render @audit.missing %>
    </tbody>
  </table>
