<%= form_for @checkout do |f| %>

  <fieldset>
    <div class="clearfix">
      <%= f.label :notes %>
      <div class="input">
        <%= f.text_field :notes,  {:class => "xlarge" } %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit("Checkout", { :class => "btn primary" }) %>
    </div>
  </fieldset>
<% end %>

