<% if flash[:notice] %>
  <div class="alert-message error" data-alert="true"><a href="#" class="close">x</a><%= flash[:notice] %></div>
<% end %>
<h1>Liste des livres:</h1>
<table class="zebra-striped" id="tableSortTest">
  <thead><tr><th>Collection</th><th>Titre</th><th>Sujet</th></thead>
    <tbody>

      <%= render @books %>
    </tbody>
  </table>
  
    <div id="edit-bar" class="pull-right"><%= link_to "Télécharger comme CSV", books_path+ ".csv" %></div>
