<div id="currently-out" >
  <div class="modal-header">
    <h3>These books are checked out:</h3>
  </div>
  <div class="modal-body">
    <ul>
      <% @checkouts.each do |co| %>
        <li><%= link_to co.book.title, book_path(co.book) %> - <%= co.notes %></li>
      <% end %>
    </ul>
    <div class="modal-footer">
      <a href="#" id="close-currently-out" class="btn primary">OK</a>
    </div>
</div>

